<ul class="showcase">
	<li>
		<div class="seat"></div>
		<small>Vacant</small>
	</li>
	<li>
		<div class="seat selected"></div>
		<small>Selected</small>
	</li>
	<li>
		<div class="seat occupied"></div>
		<small>Occupied</small>
	</li>
</ul>
<div class="container">
	<div class="movie-screen">
		<img src='screen-thumb.png' alt='screen' />
	</div>
	<div class="row-container">
		<div class="row" id="row-first">
			<div class="seat"></div>
			<div class="seat"></div>
			<div class="seat"></div>
			<div class="seat"></div>
			<div class="seat"></div>
			<div class="seat"></div>
			<div class="seat"></div>
			<div class="seat"></div>
			<div class="seat"></div>
			<div class="seat"></div>
		</div>
		<div class="row" id="row-second">
			<div class="seat"></div>
			<div class="seat"></div>
			<div class="seat"></div>
			<div class="seat"></div>
			<div class="seat"></div>
			<div class="seat"></div>
			<div class="seat"></div>
			<div class="seat"></div>
			<div class="seat"></div>
			<div class="seat"></div>
		</div>
		<div class="row" id="row-third">
			<div class="seat"></div>
			<div class="seat"></div>
			<div class="seat"></div>
			<div class="seat"></div>
			<div class="seat"></div>
			<div class="seat"></div>
			<div class="seat"></div>
			<div class="seat"></div>
			<div class="seat"></div>
			<div class="seat"></div>
		</div>
	</div>
</div>
<%= javascript_pack_tag 'movie_screen' %>
