<script type="text/javascript">
  $(document).ready(function(){
	  $('select#movie_movie').on('change', function() {
		  console.log(this.selected);
   });
</script>
<h3>Welcome to Movie Booking </h3>
<hr/>
<div class="movie-container">
	<label>Pick a movie:</label>
	<%= select("movie", "movie", Movie.all.collect { |m| [ m.name, m.id ] }, { prompt: 'Select Movie' })%>
	<%#= collection_select :movie, :id, Movie.all, :id, :name, {}, {prompt: 'Select Movie', onchange: '$.get("/populate_show")'} %>
	
	Date : <div id='selectDate'></div>
</div>
<ul class="showcase">
	<li>
		<div class="seat"></div>
		<small>Vacant</small>
	</li>
	<li>
		<div class="seat selected"></div>
		<small>Selected</small>
	</li>
	<li>
		<div class="seat occupied"></div>
		<small>Occupied</small>
	</li>
</ul>
<div class="container">
	<div class="movie-screen">
		<img src='screen-thumb.png' alt='screen' />
	</div>
	<div class="row-container">
		<div class="row" id="row-first">
			<div class="seat"></div>
			<div class="seat"></div>
			<div class="seat"></div>
			<div class="seat"></div>
			<div class="seat"></div>
			<div class="seat"></div>
			<div class="seat"></div>
			<div class="seat"></div>
			<div class="seat"></div>
                        <div class="seat"></div>
		</div>
		<div class="row" id="row-second">
			<div class="seat"></div>
			<div class="seat"></div>
			<div class="seat"></div>
			<div class="seat"></div>
			<div class="seat"></div>
			<div class="seat"></div>
			<div class="seat"></div>
			<div class="seat"></div>
			<div class="seat"></div>
                        <div class="seat"></div>
		</div>
		<div class="row" id="row-third">
			<div class="seat"></div>
			<div class="seat"></div>
			<div class="seat"></div>
			<div class="seat"></div>
			<div class="seat"></div>
			<div class="seat"></div>
                        <div class="seat"></div>
			<div class="seat"></div>
			<div class="seat"></div>
			<div class="seat"></div>
		</div>
	</div>
</div>
<%= render 'form', booking: @booking, show: @show %>
