<h3>Welcome to Movie Booking </h3>
<hr/>
<div class="movie-container">
	<table>
		<tr><td><label>Pick a movie:</label></td><td><%= select("movie", "movie", Movie.all.collect { |m| [ m.name, m.id ] }, { prompt: 'Select Movie' })%></td></tr>
		<tr><td><label>Date :</label></td><td><div class="show_dates"><select id='show_date'></select></div></td></tr>
		<tr><td><label>Screen:</label></td><td><div class="show_screen"><select id='show_screen'></select></div><td></tr>
		<tr><td><label>Time:</label></td><td><div class="show_time"><select id='show_time'></select></div><td></tr>
	</table>
</div>
<div id="screen">Please select movie</div>
<%= render 'form', booking: @booking, show: @show %>
