<script type="text/javascript">
/*  $(document).ready(function(){
	  $('select#movie_movie').on('change', function() {
		  console.log(this.selected);
   });*/
</script>
<h3>Welcome to Movie Booking </h3>
<hr/>
<div class="movie-container">
	<table>
		<tr><td><label>Pick a movie:</label></td><td><%= select("movie", "movie", Movie.all.collect { |m| [ m.name, m.id ] }, { prompt: 'Select Movie' })%></td></tr>
		<tr><td><label>Date :</label></td><td><div class="show_dates"><select id='show_date'></select></div></td></tr>
		<tr><td><label>Screen:</label></td><td><div class="show_screen"><select id='show_screen'></select></div><td></tr>
		<tr><td><label>Time:</label></td><td><div class="show_time"><select id='show_time'></select></div><td></tr>
	</table>
</div>
<ul class="showcase">
	<li>
		<div class="seat"></div>
		<small>Vacant</small>
	</li>
	<li>
		<div class="seat selected"></div>
		<small>Selected</small>
	</li>
	<li>
		<div class="seat occupied"></div>
		<small>Occupied</small>
	</li>
</ul>
<div class="container">
	<div class="movie-screen">
		<img src='screen-thumb.png' alt='screen' />
	</div>
	<div class="row-container">
		<div class="row" id="row-first">
			<div class="seat"></div>
			<div class="seat"></div>
			<div class="seat"></div>
			<div class="seat"></div>
			<div class="seat"></div>
			<div class="seat"></div>
			<div class="seat"></div>
			<div class="seat"></div>
			<div class="seat"></div>
                        <div class="seat"></div>
		</div>
		<div class="row" id="row-second">
			<div class="seat"></div>
			<div class="seat"></div>
			<div class="seat"></div>
			<div class="seat"></div>
			<div class="seat"></div>
			<div class="seat"></div>
			<div class="seat"></div>
			<div class="seat"></div>
			<div class="seat"></div>
                        <div class="seat"></div>
		</div>
		<div class="row" id="row-third">
			<div class="seat"></div>
			<div class="seat"></div>
			<div class="seat"></div>
			<div class="seat"></div>
			<div class="seat"></div>
			<div class="seat"></div>
                        <div class="seat"></div>
			<div class="seat"></div>
			<div class="seat"></div>
			<div class="seat"></div>
		</div>
	</div>
</div>
<%= render 'form', booking: @booking, show: @show %>
